a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;;
}

article {
    background: #f2f8f9;
}

article:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0 4px 8px rgba(38, 38, 38, 0.2);
    background: white;
}

.bookmarked {
    color: red;
}

.background {
    height: 300vh;
    width: 100%;
    display: block;
    background: url(../img/game_bg3.jpg) no-repeat top;
    z-index: -1;
}

footer {
    width: 100%;
}

.footer-style {
    background-color: #1a1a1a;
    color: rgba(255, 255, 255, 0.8)
}

.footer-style ul {
    font-size: 11px;
    padding-inline-start: 0;
}

footer .logo {
    font-size: 26px;
    color: white;
}

footer .copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 10px;
}

body {
    background: black;
    font-family: 'Noto Sans', sans-serif;
}

#content {
    min-height: 100vh;
    background: white;
    z-index: 1;
}

.navbar-nav {
    font-size: 13px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 600;
}

.features-1 {
    height: 409px;
    background-image: url(../img/thumbnails/disco-elysium-confirmed-for-ps4-and-xbox-one_vzmy.640.webp);
}

.features-2 {
    background-image: url(../img/thumbnails/blizzard-announces-overwatch-2-at-blizzcon_gwgg.280.webp);
}

.features-3 {
    background-image: url(../img/thumbnails/dont-expect-diablo-4-too-soon_usxx.280.webp);
}

.features-2,
.features-3 {
    height: 205px;
}

.features-1,
.features-2,
.features-3 {
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}

.category {
    background: red;
    display: inline;
    padding: 3px;
    font-size: 11px;
}

.date {
    color: rgba(255, 255, 255, 0.8);
    font-size: 10px;
}

/* multi item slider */
.carousel-inner .active,
.carousel-inner .active + .carousel-item,
.carousel-inner .active + .carousel-item + .carousel-item,
.carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
    display: block;
}

.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
}

.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
}

.carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
}

/* left or forward direction */
.active.carousel-item-left + .carousel-item-next.carousel-item-left,
.carousel-item-next.carousel-item-left + .carousel-item,
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}

/* farthest right hidden item must be abso position for animations */
.carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
}

/* right or prev direction */
.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
.carousel-item-prev.carousel-item-right + .carousel-item,
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    display: block;
    visibility: visible;
}


.carousel-item {margin-right: auto !important;}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
    opacity: 1;
    z-index: 2;
}

/* recent news */
.post-info {
    position: absolute;
    color: white;
    height: 100%;
    text-shadow: 2px 2px #000000;
}

.description {
    margin: 0;
    font-size: 13px;
    line-height: 1.55;
    color: #525252;
}

.section-title {
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

/* sidebar */
.sidebar-title {
    border-bottom: 2px solid red;
}

.sidebar {
    background: #f5f5f5;
    padding: 15px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    width: 100%;
}

/* video section */
.videos {
    background: black;
    height: 70vh;
}
.content {
    font-size: 1.125rem;
        line-height: 28px;
}

@media (min-width: 861px) {
.content {
    font-size: 1.25rem;
    line-height: 32px;
    padding-right: 18px;
}}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: transparent;
    border-bottom: red solid 3px;
}

.card-header {
    background-color: transparent;
    border-bottom: white;
}

.nav-tabs .nav-link {
    border: none;
}

/* Login form */
.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}